
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<div id="container"></div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/react/15.2.0/react-dom.js"></script>
<script src="@Url.Content("~/Scripts/HelloWorld.jsx")"></script>