<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="ClientId" value="e09b810d-adbd-492b-8267-79decc6f6c98" />
    <add key="Secret" value="tDMsnAKIGZf1kfeycwUXXhp8VSn7RLHYuVaqbCtgMCcBMQrCEjuwjR2R4iyxpKtXvgItLyH05iL9TYHX2n8SCgqfxEkpVqYXFOkv" />
    <add key="Url" value="https://avalamarketing.axosoft.com/" />
    <add key="Username" value="scotti@avalamarketing.com" />
    <add key="Password" value="superCorran1" />
  </appSettings>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-9.0.0.0" newVersion="9.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>